[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/The-NERD-tree"]
	path = vim/bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
